# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: Build with Maven
      run: mvn package shade:shade -f pom.xml
    - name: Display structure of downloaded files
      run: ls -R
      working-directory: /home/runner/work/worldMISF/worldMISF
    - run: mkdir staging && cp output/*.jar staging
    - name: Get Time
      id: time
      uses: nanzm/get-time-action@v1.0
      with:
        timeZone: 8
        format: 'YYYY-MM-DD-HH-mm'
    - name: worldMISF jars
      uses: actions/upload-artifact@v1
      with:
        name: worldMISF
        path: staging
    - name: Development Builds
      uses: "marvinpinto/action-automatic-releases@v1.0.0"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "DEV-BUILD"
        prerelease: true
        title: "${{ steps.time.outputs.time }}"
        files: staging/*.jar
    - name: 'Create settings.xml'
      uses: whelk-io/maven-settings-xml-action@v4
      with:
        servers: '[{"id": "github", "username": "${{ secrets.GITHUB_USERNAME }}", "password": "${{ secrets.GITHUB_PASSWORD }}"}]'
    - name: Github package
      run: mvn install
      
